---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				I'm a technology leader who enjoys coding and a chess enthusiast. Currently co-founder and CTO at
				<a href="https://dfinitiv.io">Dfinitiv</a>.
			</p>

			<p>
				Previously, I led the open-source project <a href="https://www.manageiq.org/">ManageIQ</a>
				from inception until 2022.
			</p>

			<h3>Find me online</h3>
			<ul>
				<li><a href="https://github.com/chessbyte">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/olegbarenboim/">LinkedIn</a></li>
				<li><a href="https://medium.com/@oleg.barenboim">Medium</a></li>
				<li><a href="https://lichess.org/@/BarenboimO">Lichess</a></li>
				<li><a href="https://www.chess.com/member/chessbyte">Chess.com</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
